#fdiv{
    background-color: aqua; 
    padding: 2rem;
}
#fpara{
    background-color: green;
    padding: 1rem;
}
#sdiv{
    background-color: yellow;
    padding: 1.2rem;

}
#spara{
    background-color: orangered;
    padding: 1rem;
}